<?xml version="1.0"?>
<config>
	<modules>
		<United_Manchester>
			<version>0.1.0</version>
		</United_Manchester>	
	</modules>
	<global>
		<helpers>
			<manchester>
				<class>United_Manchester_Helper</class>
			</manchester>
		</helpers>
		<blocks>
			<manchester>
				<class>United_Manchester_Block</class>
			</manchester>
		</blocks>
		<models>
			<manchester>
				<class>United_Manchester_Model</class>
				<resourceModel>resource_manchester</resourceModel>
			</manchester>	
				<resource_manchester>
					<class>United_Manchester_Model_Resource</class>
					<entities>
						<united>
							<table>united</table>
						</united>
					</entities>
				</resource_manchester>
		</models>
		<resources>
			<manchester_setup><!--inside sql folder name -->
				<setup>
					<module>United_Manchester</module>
				</setup>
			</manchester_setup>
			<connection>
				<use>core_setup</use>
			</connection>
		</resources>
	</global>
	<frontend>
		<routers>
			<manchester>
				<use>standard</use>
				<args>
					<module>United_Manchester</module>
					<frontName>united</frontName>
				</args>
			</manchester>
		</routers>
		<layout>
			<updates>
				<manchester>
					<file>united_manchester.xml</file>
				</manchester>
			</updates>
		</layout>
	</frontend>
</config>